.dashboard-wrapper{
    height:93vh;
    margin-left:290px;
}

.dashboard-wrapper h1{
    margin-left:2rem;
    margin-top:2rem;
    color:#5A827E;
}


.dashboard-container{
    padding: 2rem;
    height:100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap:2rem;
}

.barchart{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:4;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.barchart p{
    font-weight:700;
    font-size:1.2rem;
    margin-bottom:1rem;
}