.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    position: relative;
    width: 400px;
}

.modal-close {
    border: none;
    background: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content-header{
    border-bottom:1px solid lightgrey;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem 0.7rem 2rem;
}

.modal-content-header p{
    font-size:1rem
}

.modal-content-main{
    padding:0.7rem 2rem 0.7rem 2rem;
}